  
	 h1
		{
		 color:blue;
		 }
		 h2
		 {
			 color:#FC0;
		 }
		 p
		 {
		 color:green;
		 fount-size=20px;
		 }
		 ol
		 {
	  color:blue;
		  }
		  li
		  {
			  color:black;
			  fount-size:20px;
		  }
		  th
		  {
		  color:red;
		  }
		 td
		  {
		  color:brown;
		
	
		
		
		